idna==3.18
nvidia-cusolver-cu12==11.7.1.2
dill==0.4.1
yarl==1.24.2
xxhash==3.7.0
nvidia-cufft-cu12==11.3.0.4
annotated-doc==0.0.4
cycler==0.12.1
lerobot==0.5.1
cloudpickle==3.1.2
zipp==4.1.0
torch==2.7.1
certifi==2026.6.17
fsspec==2026.2.0
aiohappyeyeballs==2.6.2
shellingham==1.5.4
networkx==3.6.1
nvidia-nvtx-cu12==12.6.77
tqdm==4.67.1
pydantic_core==2.46.4
mdurl==0.1.2
markdown-it-py==4.2.0
deepdiff==8.6.2
mypy_extensions==1.1.0
pandas==2.2.3
pip==26.1.2
pyserial==3.5
click==8.4.1
rerun-sdk==0.26.2
toml==0.10.2
smmap==5.0.3
typing-inspect==0.9.0
evdev==1.9.3
av==15.1.0
kiwisolver==1.5.0
setuptools==80.10.2
pytz==2026.2
uv==0.11.21
diffusers==0.35.2
sympy==1.14.0
typer-slim==0.24.0
typing_extensions==4.15.0
triton==3.3.1
nvidia-cufile-cu12==1.11.1.6
accelerate==1.10.1
multidict==6.7.1
requests==2.34.2
hf-xet==1.5.1
multiprocess==0.70.19
charset-normalizer==3.4.7
protobuf==6.33.6
jsonlines==4.0.0
python-xlib==0.33
Farama-Notifications==0.0.6
orderly-set==5.5.0
annotated-types==0.7.0
nvidia-cuda-cupti-cu12==12.6.80
aiosignal==1.4.0
Pygments==2.20.0
gymnasium==1.3.0
MarkupSafe==3.0.3
ImageIO==2.37.3
python-dateutil==2.9.0.post0
mpmath==1.3.0
nvidia-cudnn-cu12==9.5.1.17
pyyaml-include==1.4.1
nvidia-cublas-cu12==12.6.4.1
einops==0.8.2
pydantic==2.13.4
termcolor==3.3.0
contourpy==1.3.3
nvidia-cusparse-cu12==12.5.4.2
matplotlib==3.10.7
wandb==0.24.0
nvidia-curand-cu12==10.3.7.77
attrs==26.1.0
huggingface_hub==1.1.5
numpy==2.2.6
Jinja2==3.1.6
mergedeep==1.3.4
opencv-python-headless==4.12.0.88
cmake==4.1.3
aiohttp==3.14.1
GitPython==3.1.50
filelock==3.29.4
platformdirs==4.10.0
anyio==4.14.0
torchcodec==0.10.0
nvidia-cuda-runtime-cu12==12.6.77
imageio-ffmpeg==0.6.0
wheel==0.47.0
nvidia-nccl-cu12==2.26.2
draccus==0.10.0
httpx==0.28.1
gitdb==4.0.12
rich==15.0.0
h11==0.16.0
importlib_metadata==9.0.0
pyarrow==21.0.0
packaging==25.0
typing-inspection==0.4.2
psutil==7.2.2
pillow==12.0.0
httpcore==1.0.9
datasets==4.8.5
fonttools==4.63.0
pyparsing==3.3.2
nvidia-cusparselt-cu12==0.6.3
torchvision==0.22.1
six==1.17.0
nvidia-nvjitlink-cu12==12.6.85
regex==2026.5.9
nvidia-cuda-nvrtc-cu12==12.6.77
propcache==0.5.2
PyYAML==6.0.2
tzdata==2026.2
typer==0.26.7
pynput==1.8.2
frozenlist==1.8.0
safetensors==0.6.2
urllib3==2.7.0
sentry-sdk==2.63.0
